/* All theme color values should be here.
 * Delete this comment after reading!
 */
/* Colors */
/* Fonts */
/* All theme color values should be here.
 * Delete this comment after reading!
 */
/* Colors */
/* Fonts */
.elementor-widget-sidebar .elementor-widget-container .widget h1,
.elementor-widget-sidebar .elementor-widget-container .widget h2,
.elementor-widget-sidebar .elementor-widget-container .widget h3,
.elementor-widget-sidebar .elementor-widget-container .widget h4,
.elementor-widget-sidebar .elementor-widget-container .widget h5,
.elementor-widget-sidebar .elementor-widget-container .widget h6 {
  margin-bottom: 20px; }

.widget-container,
.widget {
  margin-bottom: 30px; }
  .widget-container:last-child,
  .widget:last-child {
    margin-bottom: 0; }
  .widget-container h1,
  .widget-container h2,
  .widget-container h3,
  .widget-container h4,
  .widget-container h5,
  .widget-container h6,
  .widget h1,
  .widget h2,
  .widget h3,
  .widget h4,
  .widget h5,
  .widget h6 {
    font-size: 16px;
    line-height: 1.375;
    text-transform: uppercase;
    color: var(--primary_color);
    margin-bottom: 20px;
    letter-spacing: normal; }

.elementor-widget-container .widget-container .widget-title {
  margin-bottom: 20px; }

body .widget.widget_block.ulearn-contacts-info-widget, body .ulearn-contacts-info-widget {
  background-color: var(--primary_color);
  border-top: none;
  padding-bottom: 30px; }
  body .widget.widget_block.ulearn-contacts-info-widget .widget_title *, body .ulearn-contacts-info-widget .widget_title * {
    color: #fff;
    font-weight: 700; }
  body .widget.widget_block.ulearn-contacts-info-widget .contact-info-button, body .ulearn-contacts-info-widget .contact-info-button {
    min-width: 126px;
    text-align: center;
    font-family: system-ui;
    background-color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: var(--secondary_color); }
    body .widget.widget_block.ulearn-contacts-info-widget .contact-info-button:hover, body .ulearn-contacts-info-widget .contact-info-button:hover {
      background-color: #92643A;
      color: white; }
  body .widget.widget_block.ulearn-contacts-info-widget .contact-info-description, body .ulearn-contacts-info-widget .contact-info-description {
    line-height: 24px;
    margin: 25px 0;
    color: #fff; }

.similar-post-item {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #bfbfbf; }
  .similar-post-item:last-child {
    padding-bottom: 0;
    border-bottom: 0; }
  .similar-post-item img {
    min-width: 75px;
    width: 75px;
    height: 75px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 5px; }
  .similar-post-item .title {
    font-family: system-ui;
    font-size: 16px;
    line-height: 22px; }
  .similar-post-item .post-image {
    margin-right: 10px; }
  .similar-post-item .single-post-title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    font-family: system-ui;
    color: #222222; }
  .similar-post-item .similar-post-category .post-categories {
    display: flex;
    flex-wrap: wrap; }
    .similar-post-item .similar-post-category .post-categories li {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      font-family: system-ui;
      color: #fff;
      background-color: var(--primary_color);
      padding: 3px 8px;
      margin: 0 10px 5px 0; }
      .similar-post-item .similar-post-category .post-categories li a {
        font-family: system-ui;
        color: inherit; }

.wp-block-search__button-inside .wp-block-search__button {
  height: 44px;
  padding: 0;
  margin-left: -44px; }
  .wp-block-search__button-inside .wp-block-search__button.has-icon {
    width: 44px;
    min-width: 44px; }

.wp-block-search__button-inside.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  padding: 0;
  border: none;
  display: flex;
  background-color: #F2F7F9; }
  .wp-block-search__button-inside.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
    border-bottom: none;
    background-color: transparent;
    border: 0;
    height: 44px;
    display: inline !important;
    padding: 12px 8px;
    border-radius: 0;
    outline: none;
    font-size: 14px;
    line-height: 24px;
    -webkit-appearance: none; }
    .wp-block-search__button-inside.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input::-webkit-input-placeholder {
      color: #222222;
      font-family: system-ui;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      opacity: 0.5; }
    .wp-block-search__button-inside.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input::-moz-placeholder {
      color: #222222;
      font-family: system-ui;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      opacity: 0.5; }
    .wp-block-search__button-inside.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input::-ms-input-placeholder {
      color: #222222;
      font-family: system-ui;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      opacity: 0.5; }
    .wp-block-search__button-inside.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input::placeholder {
      color: #222222;
      font-family: system-ui;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      opacity: 0.5; }

ul.wp-block-categories {
  list-style: none;
  counter-reset: ulearn_categories_counter; }
  ul.wp-block-categories li {
    counter-increment: ulearn_categories_counter;
    display: flex;
    margin-bottom: 15px; }
    ul.wp-block-categories li::before {
      content: counter(ulearn_categories_counter);
      font-weight: 500;
      font-size: 12px;
      font-family: system-ui;
      line-height: 16px;
      color: var(--primary_color);
      margin-right: 15px;
      margin-top: 1px; }
    ul.wp-block-categories li a {
      font-family: system-ui;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: var(--secondary_color);
      letter-spacing: -0.005em; }
      ul.wp-block-categories li a:hover {
        color: var(--link_color_hover); }

.wp-block-tag-cloud a {
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 3px 5px 5px 6px;
  background: #F2F7F9;
  font-weight: 500;
  font-size: 13px !important;
  font-family: system-ui !important;
  line-height: 18px;
  color: #222222; }
  .wp-block-tag-cloud a:hover {
    text-decoration: none;
    background-color: var(--primary_color);
    color: var(--link_color_hover); }

.widget_tag_cloud .tagcloud a {
  color: #414562; }
  .widget_tag_cloud .tagcloud a:hover {
    color: var(--link_color_hover); }

body .widget {
  border-top: 3px solid var(--primary_color);
  background-color: #fff;
  padding: 25px 30px; }
  body .widget .rss-widget-title {
    font-size: 16px;
    line-height: 1.375;
    text-transform: uppercase;
    color: var(--primary_color);
    margin-bottom: 20px;
    letter-spacing: normal; }
  body .widget li {
    color: #414562; }
  body .widget a, body .widget p, body .widget input {
    font-size: 14px;
    font-family: system-ui; }
  body .widget input {
    padding-left: 5px;
    padding-right: 5px; }
  body .widget .wp-block-group__inner-container select {
    font-size: 14px;
    font-family: system-ui; }
  body .widget .wp-block-group__inner-container li {
    font-family: system-ui;
    margin-bottom: 10px;
    font-size: 14px; }
  body .widget.widget_archive a, body .widget.widget_archive p {
    font-size: 14px;
    font-family: system-ui; }
  body .widget a, body .widget select {
    font-size: 14px;
    font-family: system-ui; }
  body .widget.widget_meta ul li a {
    margin-right: 8px;
    margin-bottom: 10px;
    padding: 3px 5px 5px 6px;
    background: #F2F7F9;
    font-weight: 500;
    border: none;
    text-transform: lowercase;
    font-size: 13px;
    font-family: system-ui;
    line-height: 18px;
    color: #222222; }
    body .widget.widget_meta ul li a:hover {
      text-decoration: none;
      background-color: var(--primary_color);
      color: var(--link_color_hover); }
  body .widget .wp-block-latest-comments__comment-link {
    font-family: system-ui;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #414562; }
    body .widget .wp-block-latest-comments__comment-link:hover {
      color: var(--link_color_hover);
      text-decoration: underline; }
  body .widget .wp-block-latest-comments__comment-excerpt {
    color: #878995;
    font-family: system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; }
  body .widget .wp-block-latest-comments__comment-date {
    font-family: system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px; }
  body .widget .wp-block-latest-comments__comment-author {
    font-family: system-ui;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #414562; }
    body .widget .wp-block-latest-comments__comment-author:hover {
      color: var(--link_color_hover);
      text-decoration: underline; }
  body .widget .wp-block-latest-comments__comment-meta {
    color: #878995;
    font-family: system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px; }
  body .widget .wp-block-latest-posts__featured-image {
    margin-top: 10px;
    margin-bottom: 20px; }
  body .widget .wp-block-latest-posts__post-title, body .widget .wp-block-latest-posts__post-author {
    font-family: system-ui;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    font-size: 18px;
    color: #414562; }
    body .widget .wp-block-latest-posts__post-title:hover, body .widget .wp-block-latest-posts__post-author:hover {
      color: var(--link_color_hover);
      text-decoration: underline; }
  body .widget .wp-block-latest-posts__post-excerpt {
    color: #878995;
    font-family: system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; }
  body .widget .wp-block-latest-posts__post-author {
    color: #414562;
    font-size: 14px; }
  body .widget .wp-block-latest-posts__post-date {
    font-family: system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #878995; }
  body .widget.widget_archive .wp-block-archives-list a {
    font-family: system-ui;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #414562;
    letter-spacing: -0.005em; }
    body .widget.widget_archive .wp-block-archives-list a:hover {
      color: var(--link_color); }
  body .widget .wp-block-archives-list a {
    font-family: system-ui;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--secondary_color);
    letter-spacing: -0.005em; }
  body .widget .wp-block-social-links .wp-social-link svg {
    width: 1.5em;
    height: 1.5em; }
  body .widget .wp-block-social-links .wp-social-link a {
    padding: 0.5em; }

.widget_text p img {
  margin-top: 5px;
  margin-bottom: 5px; }

.wp-block-gallery .wp-block-image img {
  width: 60px;
  min-width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 60px;
  margin-right: 15px; }

.wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image) {
  width: calc(33% - var(--wp--style--unstable-gallery-gap, 16px) / 2); }
  @media (min-width: 600px) {
    .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image) {
      width: calc(16% - var(--wp--style--unstable-gallery-gap, 16px) * 0.66667); } }
  @media (min-width: 1200px) {
    .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image) {
      width: calc(33.33% - var(--wp--style--unstable-gallery-gap, 16px) * 0.66667); } }

.wp-block-image.size-full {
  margin-bottom: 20px !important; }

.wp-block-archives a, .wp-block-archives li, .wp-block-archives select {
  font-size: 14px;
  font-family: system-ui; }

.wp-block-archives li {
  margin-bottom: 10px; }

.wp-block-archives label {
  display: none; }

.wp-block-archives select {
  background-color: #F2F7F9;
  padding: 12px 15px;
  height: auto;
  border-right: 16px solid transparent;
  border-bottom: none;
  font-weight: 500;
  font-size: 14px;
  font-family: system-ui;
  line-height: 20px;
  color: #222222; }

.elementor-widget-wp-widget-archives .elementor-widget-container ul li,
.widget.widget_archive ul li {
  display: block;
  margin: .5em 0 .7em;
  padding-left: 0;
  line-height: 1.5;
  position: relative;
  font-weight: 300;
  font-size: 14px;
  font-family: system-ui; }
  .elementor-widget-wp-widget-archives .elementor-widget-container ul li:before,
  .widget.widget_archive ul li:before {
    content: " ";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--text_color);
    float: left;
    margin: 9px 0 0 -20px; }
  .elementor-widget-wp-widget-archives .elementor-widget-container ul li:first-child,
  .widget.widget_archive ul li:first-child {
    padding-top: 0; }
    .elementor-widget-wp-widget-archives .elementor-widget-container ul li:first-child:before,
    .widget.widget_archive ul li:first-child:before {
      top: 0; }
  .elementor-widget-wp-widget-archives .elementor-widget-container ul li:last-child,
  .widget.widget_archive ul li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0; }
  .elementor-widget-wp-widget-archives .elementor-widget-container ul li a,
  .widget.widget_archive ul li a {
    font-family: system-ui;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--secondary_color);
    letter-spacing: -0.005em; }
  .elementor-widget-wp-widget-archives .elementor-widget-container ul li p,
  .widget.widget_archive ul li p {
    font-size: 14px;
    font-family: system-ui; }

.elementor-widget-wp-widget-archives .elementor-widget-container select,
.widget.widget_archive select {
  font-size: 14px;
  font-family: system-ui; }

.elementor-widget-wp-widget-archives .elementor-widget-container .wp-block-archives-dropdown label,
.widget.widget_archive .wp-block-archives-dropdown label {
  margin-bottom: 15px; }

.news_item-content ::marker {
  font-size: 0; }

.elementor-widget-wp-widget-calendar .elementor-widget-container .wp-calendar-nav-prev a:hover, .elementor-widget-wp-widget-calendar .elementor-widget-container .wp-calendar-nav-next a:hover,
.widget.widget_calendar .wp-calendar-nav-prev a:hover,
.widget.widget_calendar .wp-calendar-nav-next a:hover,
.wp-block-calendar .wp-calendar-nav-prev a:hover,
.wp-block-calendar .wp-calendar-nav-next a:hover {
  color: var(--link_color_hover); }

.elementor-widget-wp-widget-calendar .elementor-widget-container #wp-calendar,
.widget.widget_calendar #wp-calendar,
.wp-block-calendar #wp-calendar {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0;
  position: relative;
  overflow: hidden; }
  .elementor-widget-wp-widget-calendar .elementor-widget-container #wp-calendar caption,
  .widget.widget_calendar #wp-calendar caption,
  .wp-block-calendar #wp-calendar caption {
    margin-bottom: 10px;
    font-size: 14px; }
  .elementor-widget-wp-widget-calendar .elementor-widget-container #wp-calendar thead,
  .widget.widget_calendar #wp-calendar thead,
  .wp-block-calendar #wp-calendar thead {
    border: 5px solid #DDEAF3;
    background: #DDEAF3; }
    .elementor-widget-wp-widget-calendar .elementor-widget-container #wp-calendar thead th,
    .elementor-widget-wp-widget-calendar .elementor-widget-container #wp-calendar thead td,
    .widget.widget_calendar #wp-calendar thead th,
    .widget.widget_calendar #wp-calendar thead td,
    .wp-block-calendar #wp-calendar thead th,
    .wp-block-calendar #wp-calendar thead td {
      padding: 4px;
      text-align: center;
      font-size: 14px; }
    .elementor-widget-wp-widget-calendar .elementor-widget-container #wp-calendar thead th,
    .widget.widget_calendar #wp-calendar thead th,
    .wp-block-calendar #wp-calendar thead th {
      background: #DDEAF3;
      border-color: #DDEAF3; }
  .elementor-widget-wp-widget-calendar .elementor-widget-container #wp-calendar tbody,
  .widget.widget_calendar #wp-calendar tbody,
  .wp-block-calendar #wp-calendar tbody {
    border: 5px solid #F2F7F9;
    border-top-width: 5px;
    border-bottom-width: 5px; }
    .elementor-widget-wp-widget-calendar .elementor-widget-container #wp-calendar tbody th,
    .elementor-widget-wp-widget-calendar .elementor-widget-container #wp-calendar tbody td,
    .widget.widget_calendar #wp-calendar tbody th,
    .widget.widget_calendar #wp-calendar tbody td,
    .wp-block-calendar #wp-calendar tbody th,
    .wp-block-calendar #wp-calendar tbody td {
      background: transparent;
      text-align: center;
      border: 0;
      font-size: 13px;
      line-height: 2.3; }
      .elementor-widget-wp-widget-calendar .elementor-widget-container #wp-calendar tbody th a,
      .elementor-widget-wp-widget-calendar .elementor-widget-container #wp-calendar tbody td a,
      .widget.widget_calendar #wp-calendar tbody th a,
      .widget.widget_calendar #wp-calendar tbody td a,
      .wp-block-calendar #wp-calendar tbody th a,
      .wp-block-calendar #wp-calendar tbody td a {
        display: block;
        padding: 0;
        width: 30px;
        height: 30px;
        margin: 0 auto;
        font-weight: 500;
        border-radius: 50%;
        background-color: #DDEAF3;
        text-decoration: none; }
        .elementor-widget-wp-widget-calendar .elementor-widget-container #wp-calendar tbody th a:hover,
        .elementor-widget-wp-widget-calendar .elementor-widget-container #wp-calendar tbody td a:hover,
        .widget.widget_calendar #wp-calendar tbody th a:hover,
        .widget.widget_calendar #wp-calendar tbody td a:hover,
        .wp-block-calendar #wp-calendar tbody th a:hover,
        .wp-block-calendar #wp-calendar tbody td a:hover {
          color: var(--link_color_hover);
          text-decoration: none; }
  .elementor-widget-wp-widget-calendar .elementor-widget-container #wp-calendar tfoot th,
  .elementor-widget-wp-widget-calendar .elementor-widget-container #wp-calendar tfoot td,
  .widget.widget_calendar #wp-calendar tfoot th,
  .widget.widget_calendar #wp-calendar tfoot td,
  .wp-block-calendar #wp-calendar tfoot th,
  .wp-block-calendar #wp-calendar tfoot td {
    padding: 6px;
    font-size: 13px; }
    .elementor-widget-wp-widget-calendar .elementor-widget-container #wp-calendar tfoot th#next,
    .elementor-widget-wp-widget-calendar .elementor-widget-container #wp-calendar tfoot td#next,
    .widget.widget_calendar #wp-calendar tfoot th#next,
    .widget.widget_calendar #wp-calendar tfoot td#next,
    .wp-block-calendar #wp-calendar tfoot th#next,
    .wp-block-calendar #wp-calendar tfoot td#next {
      text-align: right; }

.elementor-widget-wp-widget-calendar .elementor-widget-container .wp-calendar-nav,
.widget.widget_calendar .wp-calendar-nav,
.wp-block-calendar .wp-calendar-nav {
  padding: 3px;
  text-align: center; }
  .elementor-widget-wp-widget-calendar .elementor-widget-container .wp-calendar-nav a,
  .widget.widget_calendar .wp-calendar-nav a,
  .wp-block-calendar .wp-calendar-nav a {
    text-decoration: none; }

.elementor-widget-wp-widget-recent-comments .elementor-widget-container ul li,
.widget.widget_recent_comments ul li {
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;
  margin-left: 30px;
  border-bottom: 1px solid #f0f0f0;
  color: #878995;
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px; }
  .elementor-widget-wp-widget-recent-comments .elementor-widget-container ul li:before,
  .widget.widget_recent_comments ul li:before {
    content: "\e83f";
    font-family: 'Linearicons-Free';
    display: inline-block;
    float: left;
    margin: 2px 0 0 -29px;
    font-size: 125%;
    color: var(--primary_color); }
  .elementor-widget-wp-widget-recent-comments .elementor-widget-container ul li:first-child,
  .widget.widget_recent_comments ul li:first-child {
    padding-top: 0;
    margin-top: 0; }
    .elementor-widget-wp-widget-recent-comments .elementor-widget-container ul li:first-child:before,
    .widget.widget_recent_comments ul li:first-child:before {
      top: 0; }
  .elementor-widget-wp-widget-recent-comments .elementor-widget-container ul li:last-child,
  .widget.widget_recent_comments ul li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0; }
  .elementor-widget-wp-widget-recent-comments .elementor-widget-container ul li .comment-author-link a,
  .widget.widget_recent_comments ul li .comment-author-link a {
    font-family: system-ui;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    font-size: 14px;
    color: #414562; }
    .elementor-widget-wp-widget-recent-comments .elementor-widget-container ul li .comment-author-link a:hover,
    .widget.widget_recent_comments ul li .comment-author-link a:hover {
      color: var(--link_color_hover);
      text-decoration: underline; }
  .elementor-widget-wp-widget-recent-comments .elementor-widget-container ul li a,
  .widget.widget_recent_comments ul li a {
    font-family: system-ui;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    font-size: 14px;
    color: #414562; }
    .elementor-widget-wp-widget-recent-comments .elementor-widget-container ul li a:hover,
    .widget.widget_recent_comments ul li a:hover {
      color: var(--link_color_hover);
      text-decoration: underline; }

.elementor-widget-wp-widget-media_gallery .elementor-widget-container,
.widget.widget_media_gallery,
.gallery {
  display: block;
  margin: 0 -15px; }
  .elementor-widget-wp-widget-media_gallery .elementor-widget-container .gallery-item,
  .widget.widget_media_gallery .gallery-item,
  .gallery .gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 1em 0;
    width: 100%; }
    .elementor-widget-wp-widget-media_gallery .elementor-widget-container .gallery-item .gallery-icon,
    .widget.widget_media_gallery .gallery-item .gallery-icon,
    .gallery .gallery-item .gallery-icon {
      padding: 15px; }
    .elementor-widget-wp-widget-media_gallery .elementor-widget-container .gallery-item .gallery-caption,
    .widget.widget_media_gallery .gallery-item .gallery-caption,
    .gallery .gallery-item .gallery-caption {
      padding: 10px 15px;
      font-size: 95%;
      line-height: 1.55; }
  .elementor-widget-wp-widget-media_gallery .elementor-widget-container-columns-1 .gallery-item,
  .widget.widget_media_gallery-columns-1 .gallery-item,
  .gallery-columns-1 .gallery-item {
    width: 100%; }
  .elementor-widget-wp-widget-media_gallery .elementor-widget-container-columns-2 .gallery-item,
  .widget.widget_media_gallery-columns-2 .gallery-item,
  .gallery-columns-2 .gallery-item {
    width: 50%; }
  .elementor-widget-wp-widget-media_gallery .elementor-widget-container-columns-3 .gallery-item,
  .widget.widget_media_gallery-columns-3 .gallery-item,
  .gallery-columns-3 .gallery-item {
    width: 33.333333%; }
  .elementor-widget-wp-widget-media_gallery .elementor-widget-container-columns-4 .gallery-item,
  .widget.widget_media_gallery-columns-4 .gallery-item,
  .gallery-columns-4 .gallery-item {
    width: 25%; }
  .elementor-widget-wp-widget-media_gallery .elementor-widget-container-columns-5 .gallery-item,
  .widget.widget_media_gallery-columns-5 .gallery-item,
  .gallery-columns-5 .gallery-item {
    width: 20%; }
  .elementor-widget-wp-widget-media_gallery .elementor-widget-container-columns-6 .gallery-item,
  .widget.widget_media_gallery-columns-6 .gallery-item,
  .gallery-columns-6 .gallery-item {
    width: 16.666666%; }
  .elementor-widget-wp-widget-media_gallery .elementor-widget-container-columns-7 .gallery-item,
  .widget.widget_media_gallery-columns-7 .gallery-item,
  .gallery-columns-7 .gallery-item {
    width: 14.28%; }
    .elementor-widget-wp-widget-media_gallery .elementor-widget-container-columns-7 .gallery-item .gallery-caption,
    .widget.widget_media_gallery-columns-7 .gallery-item .gallery-caption,
    .gallery-columns-7 .gallery-item .gallery-caption {
      display: none; }
  .elementor-widget-wp-widget-media_gallery .elementor-widget-container-columns-8 .gallery-item,
  .widget.widget_media_gallery-columns-8 .gallery-item,
  .gallery-columns-8 .gallery-item {
    width: 12.5%; }
    .elementor-widget-wp-widget-media_gallery .elementor-widget-container-columns-8 .gallery-item .gallery-caption,
    .widget.widget_media_gallery-columns-8 .gallery-item .gallery-caption,
    .gallery-columns-8 .gallery-item .gallery-caption {
      display: none; }
  .elementor-widget-wp-widget-media_gallery .elementor-widget-container-columns-9 .gallery-item,
  .widget.widget_media_gallery-columns-9 .gallery-item,
  .gallery-columns-9 .gallery-item {
    width: 11.111111%; }
    .elementor-widget-wp-widget-media_gallery .elementor-widget-container-columns-9 .gallery-item .gallery-caption,
    .widget.widget_media_gallery-columns-9 .gallery-item .gallery-caption,
    .gallery-columns-9 .gallery-item .gallery-caption {
      display: none; }
  @media (max-width: 767px) {
    .elementor-widget-wp-widget-media_gallery .elementor-widget-container:not(.gallery-columns-1) .gallery-item,
    .widget.widget_media_gallery:not(.gallery-columns-1) .gallery-item,
    .gallery:not(.gallery-columns-1) .gallery-item {
      flex: inherit;
      width: 50%; } }
  @media (max-width: 420px) {
    .elementor-widget-wp-widget-media_gallery .elementor-widget-container:not(.gallery-columns-1) .gallery-item,
    .widget.widget_media_gallery:not(.gallery-columns-1) .gallery-item,
    .gallery:not(.gallery-columns-1) .gallery-item {
      flex: inherit;
      width: 100%; } }

.elementor-widget-wp-widget-categories .elementor-widget-container ul > li,
.widget.widget_nav_menu ul > li,
.widget.widget_pages ul > li,
.widget.widget_categories ul > li,
ul.wp-block-page-list > li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
  padding-left: 0;
  position: relative;
  font-weight: 400;
  font-family: system-ui;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #414562; }
  .elementor-widget-wp-widget-categories .elementor-widget-container ul > li:before,
  .widget.widget_nav_menu ul > li:before,
  .widget.widget_pages ul > li:before,
  .widget.widget_categories ul > li:before,
  ul.wp-block-page-list > li:before {
    display: none; }
  .elementor-widget-wp-widget-categories .elementor-widget-container ul > li a,
  .widget.widget_nav_menu ul > li a,
  .widget.widget_pages ul > li a,
  .widget.widget_categories ul > li a,
  ul.wp-block-page-list > li a {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 10px 5px 10px 0;
    font-weight: 400;
    font-family: system-ui;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #414562; }
    .elementor-widget-wp-widget-categories .elementor-widget-container ul > li a:hover,
    .widget.widget_nav_menu ul > li a:hover,
    .widget.widget_pages ul > li a:hover,
    .widget.widget_categories ul > li a:hover,
    ul.wp-block-page-list > li a:hover {
      color: var(--link_color_hover); }
    .elementor-widget-wp-widget-categories .elementor-widget-container ul > li a:after,
    .widget.widget_nav_menu ul > li a:after,
    .widget.widget_pages ul > li a:after,
    .widget.widget_categories ul > li a:after,
    ul.wp-block-page-list > li a:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: auto;
      width: 4px;
      min-height: 50px;
      transition: all 0.15s;
      visibility: hidden;
      opacity: 0;
      -webkit-transform: none;
              transform: none; }
    .elementor-widget-wp-widget-categories .elementor-widget-container ul > li a:hover:after,
    .widget.widget_nav_menu ul > li a:hover:after,
    .widget.widget_pages ul > li a:hover:after,
    .widget.widget_categories ul > li a:hover:after,
    ul.wp-block-page-list > li a:hover:after {
      visibility: visible;
      opacity: 1; }
    .elementor-widget-wp-widget-categories .elementor-widget-container ul > li a:empty,
    .widget.widget_nav_menu ul > li a:empty,
    .widget.widget_pages ul > li a:empty,
    .widget.widget_categories ul > li a:empty,
    ul.wp-block-page-list > li a:empty {
      display: none; }
  .elementor-widget-wp-widget-categories .elementor-widget-container ul > li.current-cat a:after,
  .widget.widget_nav_menu ul > li.current-cat a:after,
  .widget.widget_pages ul > li.current-cat a:after,
  .widget.widget_categories ul > li.current-cat a:after,
  ul.wp-block-page-list > li.current-cat a:after {
    visibility: visible;
    opacity: 1; }
  .elementor-widget-wp-widget-categories .elementor-widget-container ul > li ul,
  .widget.widget_nav_menu ul > li ul,
  .widget.widget_pages ul > li ul,
  .widget.widget_categories ul > li ul,
  ul.wp-block-page-list > li ul {
    flex: 0 0 100%;
    margin-bottom: 15px; }
    .elementor-widget-wp-widget-categories .elementor-widget-container ul > li ul li,
    .widget.widget_nav_menu ul > li ul li,
    .widget.widget_pages ul > li ul li,
    .widget.widget_categories ul > li ul li,
    ul.wp-block-page-list > li ul li {
      padding-left: 15px;
      line-height: 26px;
      margin-bottom: 0;
      background-color: transparent;
      font-size: 13px; }
      .elementor-widget-wp-widget-categories .elementor-widget-container ul > li ul li a,
      .widget.widget_nav_menu ul > li ul li a,
      .widget.widget_pages ul > li ul li a,
      .widget.widget_categories ul > li ul li a,
      ul.wp-block-page-list > li ul li a {
        position: relative;
        padding: 2px 5px 2px 0;
        font-weight: 400; }
        .elementor-widget-wp-widget-categories .elementor-widget-container ul > li ul li a:before,
        .widget.widget_nav_menu ul > li ul li a:before,
        .widget.widget_pages ul > li ul li a:before,
        .widget.widget_categories ul > li ul li a:before,
        ul.wp-block-page-list > li ul li a:before {
          content: "-";
          display: block;
          position: absolute;
          top: 3px;
          left: -9px;
          border: 0;
          visibility: visible;
          opacity: 1;
          font-size: 13px;
          color: #888888;
          background: transparent; }
        .elementor-widget-wp-widget-categories .elementor-widget-container ul > li ul li a:after,
        .widget.widget_nav_menu ul > li ul li a:after,
        .widget.widget_pages ul > li ul li a:after,
        .widget.widget_categories ul > li ul li a:after,
        ul.wp-block-page-list > li ul li a:after {
          display: none; }
      .elementor-widget-wp-widget-categories .elementor-widget-container ul > li ul li ul,
      .widget.widget_nav_menu ul > li ul li ul,
      .widget.widget_pages ul > li ul li ul,
      .widget.widget_categories ul > li ul li ul,
      ul.wp-block-page-list > li ul li ul {
        margin-bottom: 0; }
        .elementor-widget-wp-widget-categories .elementor-widget-container ul > li ul li ul li,
        .widget.widget_nav_menu ul > li ul li ul li,
        .widget.widget_pages ul > li ul li ul li,
        .widget.widget_categories ul > li ul li ul li,
        ul.wp-block-page-list > li ul li ul li {
          padding-left: 12px; }
          .elementor-widget-wp-widget-categories .elementor-widget-container ul > li ul li ul li a,
          .widget.widget_nav_menu ul > li ul li ul li a,
          .widget.widget_pages ul > li ul li ul li a,
          .widget.widget_categories ul > li ul li ul li a,
          ul.wp-block-page-list > li ul li ul li a {
            padding: 0 5px 0 0; }
            .elementor-widget-wp-widget-categories .elementor-widget-container ul > li ul li ul li a:before,
            .widget.widget_nav_menu ul > li ul li ul li a:before,
            .widget.widget_pages ul > li ul li ul li a:before,
            .widget.widget_categories ul > li ul li ul li a:before,
            ul.wp-block-page-list > li ul li ul li a:before {
              top: 1px; }

.elementor-widget-wp-widget-meta .elementor-widget-container ul li,
.widget.widget_meta ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 .4em;
  font-size: 13px; }
  .elementor-widget-wp-widget-meta .elementor-widget-container ul li a,
  .widget.widget_meta ul li a {
    display: block;
    padding: 4px 8px;
    border: 1px solid #bfbfbf;
    background-color: #fff; }
    .elementor-widget-wp-widget-meta .elementor-widget-container ul li a:hover,
    .widget.widget_meta ul li a:hover {
      background-color: #f0f0f0;
      text-decoration: none; }

.elementor-widget-wp-widget-recent-posts .elementor-widget-container ul.wp-block-latest-posts li a,
.elementor-widget-wp-widget-recent-posts .elementor-widget-container ol.wp-block-latest-posts li a,
.widget.widget_recent_entries ul.wp-block-latest-posts li a,
.widget.widget_recent_entries ol.wp-block-latest-posts li a {
  display: block;
  padding: 0 0;
  line-height: 20px;
  position: relative; }
  .elementor-widget-wp-widget-recent-posts .elementor-widget-container ul.wp-block-latest-posts li a:before,
  .elementor-widget-wp-widget-recent-posts .elementor-widget-container ol.wp-block-latest-posts li a:before,
  .widget.widget_recent_entries ul.wp-block-latest-posts li a:before,
  .widget.widget_recent_entries ol.wp-block-latest-posts li a:before {
    display: none; }
  .elementor-widget-wp-widget-recent-posts .elementor-widget-container ul.wp-block-latest-posts li a:hover:before,
  .elementor-widget-wp-widget-recent-posts .elementor-widget-container ol.wp-block-latest-posts li a:hover:before,
  .widget.widget_recent_entries ul.wp-block-latest-posts li a:hover:before,
  .widget.widget_recent_entries ol.wp-block-latest-posts li a:hover:before {
    display: none; }

.elementor-widget-wp-widget-recent-posts .elementor-widget-container ul li,
.elementor-widget-wp-widget-recent-posts .elementor-widget-container ol li,
.widget.widget_recent_entries ul li,
.widget.widget_recent_entries ol li {
  padding: 14px 0;
  border-bottom: 1px solid #f0f0f0; }
  .elementor-widget-wp-widget-recent-posts .elementor-widget-container ul li:first-child,
  .elementor-widget-wp-widget-recent-posts .elementor-widget-container ol li:first-child,
  .widget.widget_recent_entries ul li:first-child,
  .widget.widget_recent_entries ol li:first-child {
    padding-top: 0;
    margin-top: 0; }
  .elementor-widget-wp-widget-recent-posts .elementor-widget-container ul li:last-child,
  .elementor-widget-wp-widget-recent-posts .elementor-widget-container ol li:last-child,
  .widget.widget_recent_entries ul li:last-child,
  .widget.widget_recent_entries ol li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0; }
  .elementor-widget-wp-widget-recent-posts .elementor-widget-container ul li a,
  .elementor-widget-wp-widget-recent-posts .elementor-widget-container ol li a,
  .widget.widget_recent_entries ul li a,
  .widget.widget_recent_entries ol li a {
    display: block;
    padding: 0 0;
    line-height: 20px;
    position: relative; }
    .elementor-widget-wp-widget-recent-posts .elementor-widget-container ul li a:before,
    .elementor-widget-wp-widget-recent-posts .elementor-widget-container ol li a:before,
    .widget.widget_recent_entries ul li a:before,
    .widget.widget_recent_entries ol li a:before {
      content: "";
      position: absolute;
      top: 1px;
      left: -20px;
      width: 3px;
      height: 100%;
      background-color: transparent; }
    .elementor-widget-wp-widget-recent-posts .elementor-widget-container ul li a:hover:before,
    .elementor-widget-wp-widget-recent-posts .elementor-widget-container ol li a:hover:before,
    .widget.widget_recent_entries ul li a:hover:before,
    .widget.widget_recent_entries ol li a:hover:before {
      height: 100%;
      transition: all 0.15s ease-in;
      background-color: var(--primary_color); }
  .elementor-widget-wp-widget-recent-posts .elementor-widget-container ul li .wp-block-latest-posts__post-excerpt,
  .elementor-widget-wp-widget-recent-posts .elementor-widget-container ol li .wp-block-latest-posts__post-excerpt,
  .widget.widget_recent_entries ul li .wp-block-latest-posts__post-excerpt,
  .widget.widget_recent_entries ol li .wp-block-latest-posts__post-excerpt {
    font-size: 13px; }

.widget.widget_rss .rss-widget-icon {
  position: relative;
  top: -1px;
  margin-right: 5px;
  vertical-align: middle; }

.widget.widget_rss ul li {
  border-bottom: 1px solid #f0f0f0;
  line-height: 22px;
  padding: 14px 0;
  font-weight: 300; }
  .widget.widget_rss ul li:first-child {
    padding-top: 0;
    margin-top: 0; }
  .widget.widget_rss ul li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0; }
  .widget.widget_rss ul li .wp-block-rss__item-author {
    font-family: system-ui;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    color: #414562;
    font-size: 14px; }
  .widget.widget_rss ul li .wp-block-rss__item-publish-date {
    font-family: system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #878995;
    line-height: 20px; }
  .widget.widget_rss ul li a {
    font-weight: 600;
    font-family: system-ui;
    font-style: normal;
    line-height: 22px;
    color: var(--primary_color);
    font-size: 16px; }
    .widget.widget_rss ul li a:hover {
      text-decoration: underline; }
  .widget.widget_rss ul li .rss-date, .widget.widget_rss ul li .wp-block-rss__item-publish-date {
    display: block;
    font-size: 12px;
    color: #878995; }
  .widget.widget_rss ul li .rssSummary, .widget.widget_rss ul li .wp-block-rss__item-excerpt {
    color: #878995;
    font-family: system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; }
  .widget.widget_rss ul li cite {
    display: block;
    font-size: 12px;
    color: #878995;
    text-align: right;
    padding-right: 8px; }

.elementor-widget-wp-widget-search .search-form,
.widget.widget_search .search-form {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%; }
  .elementor-widget-wp-widget-search .search-form > label,
  .widget.widget_search .search-form > label {
    flex-grow: 1;
    margin: 0; }
  .elementor-widget-wp-widget-search .search-form input.search-submit,
  .widget.widget_search .search-form input.search-submit {
    padding: 0.375em 1.25em; }
  .elementor-widget-wp-widget-search .search-form .search-submit,
  .widget.widget_search .search-form .search-submit {
    margin-left: 10px; }

.elementor-widget-wp-widget-search .wp-block-search__label, .elementor-widget-wp-widget-search label,
.widget.widget_search .wp-block-search__label,
.widget.widget_search label {
  display: block;
  font-size: 16px;
  line-height: 1.375;
  text-transform: uppercase;
  color: var(--primary_color);
  margin-bottom: 20px;
  font-weight: var(--h2_font_weight);
  font-family: var(--h2_font_family);
  word-spacing: var(--h2_word_spacing);
  letter-spacing: var(--h2_letter_spacing); }

.elementor-widget-wp-widget-search .wp-block-search__inside-wrapper,
.widget.widget_search .wp-block-search__inside-wrapper {
  border-color: #878995; }
  .elementor-widget-wp-widget-search .wp-block-search__inside-wrapper .wp-block-search__button.has-icon, .elementor-widget-wp-widget-search .wp-block-search__inside-wrapper .wp-block-search__button,
  .widget.widget_search .wp-block-search__inside-wrapper .wp-block-search__button.has-icon,
  .widget.widget_search .wp-block-search__inside-wrapper .wp-block-search__button {
    min-width: auto; }
  .elementor-widget-wp-widget-search .wp-block-search__inside-wrapper input[type="search"],
  .widget.widget_search .wp-block-search__inside-wrapper input[type="search"] {
    padding-left: 15px !important;
    background-color: transparent; }
    .elementor-widget-wp-widget-search .wp-block-search__inside-wrapper input[type="search"]:focus,
    .widget.widget_search .wp-block-search__inside-wrapper input[type="search"]:focus {
      background-color: transparent; }
  .elementor-widget-wp-widget-search .wp-block-search__inside-wrapper .wp-block-search__button svg,
  .widget.widget_search .wp-block-search__inside-wrapper .wp-block-search__button svg {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    width: 32px;
    height: 32px; }

.elementor-widget-wp-widget-search .wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input,
.widget.widget_search .wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
  padding-left: 8px; }
  .elementor-widget-wp-widget-search .wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input ::-webkit-input-placeholder,
  .widget.widget_search .wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input ::-webkit-input-placeholder {
    font-family: system-ui; }
  .elementor-widget-wp-widget-search .wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input ::-moz-placeholder,
  .widget.widget_search .wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input ::-moz-placeholder {
    font-family: system-ui; }
  .elementor-widget-wp-widget-search .wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input ::-ms-input-placeholder,
  .widget.widget_search .wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input ::-ms-input-placeholder {
    font-family: system-ui; }
  .elementor-widget-wp-widget-search .wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input ::placeholder,
  .widget.widget_search .wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input ::placeholder {
    font-family: system-ui; }

.elementor-widget-wp-widget-search .wp-block-search__button-inside .wp-block-search__button,
.widget.widget_search .wp-block-search__button-inside .wp-block-search__button {
  min-width: 80px; }

.elementor-widget-wp-widget-search .wp-block-search__text-button .wp-block-search__button,
.widget.widget_search .wp-block-search__text-button .wp-block-search__button {
  padding: 0.375em 1.25em; }

.elementor-widget-wp-widget-search .wp-block-search__text-button.wp-block-search__button-inside .wp-block-search__button,
.widget.widget_search .wp-block-search__text-button.wp-block-search__button-inside .wp-block-search__button {
  padding: 0.375em 0.5em; }

.elementor-widget-wp-widget-search .wp-block-search__icon-button .wp-block-search__button,
.widget.widget_search .wp-block-search__icon-button .wp-block-search__button {
  padding: 0.375em 0.429em; }

.widget .wp-block-loginout {
  padding: 0 0 0 7px; }
  .widget .wp-block-loginout a {
    font-family: system-ui;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    color: #414562; }
    .widget .wp-block-loginout a:hover {
      color: var(--link_color_hover); }
  .widget .wp-block-loginout.logged-in a:before, .widget .wp-block-loginout.logged-out a:before {
    display: inline-block;
    font-family: 'Linearicons-Free';
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 6px;
    font-size: 125%;
    color: var(--primary_color); }
  .widget .wp-block-loginout.logged-in a:before {
    content: "\e820"; }
  .widget .wp-block-loginout.logged-out a:before {
    content: "\e81f"; }

.widget #loginform label {
  display: block;
  margin: 0 0 0.5em; }

body select {
  font-size: 14px;
  font-family: system-ui;
  background-image: url("../images/chevron-down.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  color: #414562; }

.ulearn-mailchimp {
  max-width: 420px; }
  .ulearn-mailchimp .mc4wp-form-theme p label {
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-bottom: 20px; }
  .ulearn-mailchimp .mc4wp-form-theme input[type=email] {
    border-bottom-color: transparent;
    padding-left: 20px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background: #fff !important;
    color: #818894 !important;
    font-family: system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px; }
    .ulearn-mailchimp .mc4wp-form-theme input[type=email]::-webkit-input-placeholder {
      color: #818894 !important; }
    .ulearn-mailchimp .mc4wp-form-theme input[type=email]::-moz-placeholder {
      color: #818894 !important; }
    .ulearn-mailchimp .mc4wp-form-theme input[type=email]::-ms-input-placeholder {
      color: #818894 !important; }
    .ulearn-mailchimp .mc4wp-form-theme input[type=email]::placeholder {
      color: #818894 !important; }
  .ulearn-mailchimp .mc4wp-form-theme input[type=submit] {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background: #F54A24 !important;
    color: #FFFFFF !important;
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    border-color: #F54A24 !important; }
  .ulearn-mailchimp .mc4wp-form-theme .ulearn-inner-mailchimp {
    display: flex; }
