.widget {
    &.widget_rss {
        .rss-widget-icon {
            position: relative;
            top: -1px;
            margin-right: 5px;
            vertical-align: middle;
        }
        ul {
            li {
                border-bottom: 1px solid $light-gray;
                line-height: 22px;
                padding: 14px 0;
                font-weight: 300;
                &:first-child {
                    padding-top: 0;
                    margin-top: 0;
                }
                &:last-child {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-bottom: 0;
                }
                .wp-block-rss__item-author {
                    font-family: $secondary_font_family;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 22px;
                    color: $secondary-variant-color;
                    font-size: 14px;
                }
                .wp-block-rss__item-publish-date {
                    font-family: $body_font_family;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    color: $gray;
                    line-height: 20px;
                }
                a {
                    font-weight: 600;
                    font-family: $secondary_font_family;
                    font-style: normal;
                    line-height: 22px;
                    color: $primary_color;
                    font-size: 16px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .rss-date, .wp-block-rss__item-publish-date {
                    display: block;
                    font-size: 12px;
                    color: $gray;
                }
                .rssSummary, .wp-block-rss__item-excerpt {
                    color: $gray;
                    font-family: $body_font_family;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                }
                cite {
                    display: block;
                    font-size: 12px;
                    color: $gray;
                    text-align: right;
                    padding-right: 8px;
                }
            }
        }
    }
}
